.pai {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    margin-left: 100px;
    margin-top: 150px;
    margin-bottom: 100px;
    color:black;
    align-items: center;
}


.decimal {
    display: flex;
    border-radius: 8px;
    background-color: rgba(187, 178, 51, 0.733);
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 100%;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
}

.separacaoDecimal{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.separacaoOctal {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.separacaoHexadecimal {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.separacaoBinario {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.title {
    visibility: hidden;
}

.subTitulos {
    visibility: hidden;
}

.octal {

    display: flex;
    border-radius: 8px;
    background-color: rgba(187, 178, 51, 0.733);
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 100%;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
}

.hexadecimal {

    display: flex;
    border-radius: 8px;
    background-color: rgba(187, 178, 51, 0.733);
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 100%;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
}

.binario {

    display: flex;
    border-radius: 8px;
    background-color: rgba(187, 178, 51, 0.733);
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 100%;
}


body {

    margin: 0;
    color: white;
    background-color: linear-gradient(45deg, #000000 0%, rgb(241, 230, 214) 100%);
    background-color: linear-gradient(45deg, #131111, rgb(238, 221, 200));
    animation: gradient 10s ease infinite;
    background-size: 200% 200%;

}

h1 {

    display: flex;
    justify-content: center;
    color: black;
}

button {

    cursor: pointer;
    padding: 13px 30px;  
    border-radius: 10px;  
    margin-bottom: 30px;
}

button:hover {
    background-color: rgb(41, 36, 36);
}